*{
  margin:0;
  padding: 0;
 
}
html ,body{
  background: #ffffff;
  scroll-behavior: smooth;
}
/*font n°1*/
@font-face{
  font-family:"Louis George Cafe Bold";
  src: url("Assets/fonts/Louis George Cafe Bold.ttf") format("TrueType");
}
/*font n°2*/
@font-face{
  font-family:"Louis George Cafe";
  src: url("Assets/fonts/Louis George Cafe.ttf") format("TrueType");
}
/*font n°3*/
@font-face{
  font-family:"coolvetica rg";
  src: url("Assets/fonts/coolvetica rg.ttf") format("TrueType");
}
/*font n°4*/
@font-face{
  font-family:"Fishermans";
  src: url("Assets/fonts/Fishermans.ttf") format("TrueType");
}

/*Sequence 1*/
.home{
  width: 100%;
  height: 100vh;
  background: #3a3b3c;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 4px 8px #868686;
}

.logo{
  width: 100px;
  height: 70px;
  top:0;
  left:0;
  z-index: 1;
  position: fixed;
  background-color: #3a3b3c;
  background-image: url("Assets/images/logo1.png");
  background-size: 70%;
  background-repeat: no-repeat;
  border-bottom-right-radius: 30px;
  box-shadow: 0 0 8px #000000;
}

.hash{
  width:200px;
  height: 200px;
  margin-top:-100px;
  margin-left: -100px;
  position: absolute;
}

.blob1{
width: 500px;
height: 1000px;
margin-right: -500px;
margin-top: -350px;
position: absolute;
filter: drop-shadow(0 10px 8px #222222);
}

.blob2{
margin-left: -378px;
margin-bottom: -750px;
width: 700px;
height: 1000px;
position: absolute;
filter: drop-shadow(0 10px 8px #222222);
}

.menu{
width: 100%;
height: 500px;
display: flex;
align-items: center;
justify-content: center;
}

.l_1{ 
  position: absolute;
  margin-top: 200px;
  font-family: Louis George Cafe Bold;
  font-size: 25px;
  color: #ffffff;
  text-shadow: 5px 5px 8px #222222;
}

.l_2-1{ 
  position: absolute;
  margin-bottom: -300px;
  font-family: Louis George Cafe Bold;
  font-size: 30px;
  color: #000000;
  left: 54px;
  text-shadow: 5px 5px 8px #222222;
}

.l_2-2{ 
  position: absolute;
  margin-bottom: -300px;
  font-family: Louis George Cafe Bold;
  font-size: 30px;
  color: #ffffff;
  right: 59px;
  text-shadow: 5px 5px 8px #222222;
}

ul{
  z-index: 1;
  margin-right: -70%;
  margin-top: -97%;
  font-family: Louis George Cafe Bold;
  width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 8px #bbbbbbaa;
  background: #ffffff49;
  position: fixed;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 21px;
  
 
  

}

ul >li{
  list-style-type: none;
  display: flex;
  
}

a{
  display: block;
  text-decoration: none;
  color: #000000;
  margin-bottom: 10px;
  text-shadow: 2px 2px 8px #000000;
  transition: color 2.1s ,transform 1s;
  outline: focus;
}

a:hover{
  color: #ffffff;
  transform: translateX(8px);
}
/*Sequence 2*/

#services{
  background: #ffffff;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Louis George Cafe Bold;
}

.img_1{
  width: 100%;
  height: 200px;
  margin-top: 10px;
  background-image: url('Assets/images/Web.png');
  background-size: 100%;
  background-position: center;
}

.text_1{
  text-align: center;
  color: #545454;
  font-family: Louis George Cafe;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  font-size: 1.1em;
}

.img_2{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
  overflow: scroll;
  margin-bottom: 30px;
  margin-top: 15px;
}

.img_2 >img{
  width: 60%;
  height: 100%;
  border-radius: 10px;
}

.text_2{
  text-align: center;
  color: #545454;
  font-family: Louis George Cafe;
  width: 90%;
  margin-left: 5%;
  margin-top: 15px;
  font-size: 1.1em;
}

.name{
  font-size: 1.2em;
  font-weight: bold;
}

button {
  width: 50%;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-image: linear-gradient(45deg, #07eb2e ,#00e1ff);
  color: #ffffff;
  font-family: Louis George Cafe Bold;
  font-size: 1.3em;
  box-shadow: 5px 5px 8px #3a3b3c;
  margin-left: 20%;
  margin-top: 25px;
  margin-right: 20%;
}

/*Sequence 3*/
#About{
  width: 100%;
  margin-top: 20px;
  font-family: Louis George Cafe;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
#About >img{
  width: 50%;
}

footer {}

.foot{
  width: 100%;
  height: 100px;
  background: #34ffee;
  margin-top: -4px;
}